/*4. Estilos desde 1024px*/
/*4.1 Estilos Index desde 1024px*/
@media screen and (min-width: 1024px) {
    .buttonnb {
        font-size: 1,5em;
    }

    .maintext {
        font-size: 1,5em;
    }

    .comentario1 {
        font-size: 1,5em;
    }

    .redes {
        padding-left: 10%;
        border: 2px solid $letras2;
    }
}